build/*
!build/Release/
build/Release/*
out/
.vs/
third_party/
*.user
*.suo
*.VC.db
*.VC.opendb
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.log
!build/Release/CeftoDecklink.exe
!build/Release/CeftoDecklinkCheck.exe
!build/Release/CeftoDecklinkOutputSmoke.exe
!build/Release/WebView2Loader.dll
